<!DOCTYPE html>
<html>
<head>
  <title>Scuttlebutt</title>
  <%= stylesheet_link_tag    "scuttlebutt/application", media: "all" %>
  <%= javascript_include_tag "scuttlebutt/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
